body {
    background: green;
}

.contain {
    background-image: url(../img/back.png);
    width: 1440px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.question {
    color: #333;
}
.answerBox{
    margin-top: 30px;
}
.questionBox,
.answerBox {
    position: relative;
    width: 1356px;
    height: 236px;
}

#question,
#baseAnswer,
#answer {
    font-size: 40px;
}

#baseAnswer {
    color: #888;
}

.content,
#question {
    color: #333;
    position: absolute;
    width: 900px;
    left: 240px;
    top: 0;
    height: 236px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.red {
    color: red;
}

.iconBox {
    position: absolute;
    height: 236px;
    top: 0;
    right: 100px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
